@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

root{
     --cor-de-fundo: #043915;
     --cor-texto-principal:#FFFD8F;
}
     body{
           font-family: "Oxygen", sans-serif;

          }
          body{
          background: var(--cor-texto-principal);
          color: var(--cor-texto-principal);
          font-family: "Changa", sans-serif;
          }