@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {
     --cor-de-fundo: #043915;
     --cor-texto-principal: #FFFD8F;
}

body {
     font-family: "Oxygen", sans-serif;
     background: var(--cor-de-fundo);
     color: var(--cor-texto-principal);
}

.conteudo-principal {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     max-width: 1200px;
     width: 100%;
     margin: 0 auto
}

.titulo-principal {
     text-align: left;
     width: 100%;
     font-size: 32px;


}
.titulo-principal span{
     color:black

}

.botao{
     background-color: var (--botao-inativo);
     display: flex;
     justify-content: center;
     padding:1cm;
     font-size: 18px;
     align-items: center;
     width: 100%;



}